<div flex layout="column" class="ks-bargainAdd" >
    <div class="ks-white-header" layout="row">
        <div class="back-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow_left"></md-icon>
        </div>
        <h1 flex>编辑砍价活动</h1>
        <!--ui-sref="main.bargainApp.unionOrder({from:'purchase'})"-->
        <div class="right-button" flex="20" ng-click="save()">保存</div>
    </div>
    <md-divider></md-divider>
    <md-content flex style="background: #f5f5f5">



        <div class="content">

            <div class="content-tab" layout="row" layout-align="satrt center">
                <div class="left">
                    <span style="color: #ff0000">*</span>
                    店铺名称
                </div>
                <div class="right" flex>
                    <input type="text" placeholder="请输入店铺名称" ng-model="rootBragainDataEdit.shopName">
                </div>
            </div>

            <md-divider></md-divider>



            <div class="content-tab" layout="row" layout-align="start center">
                <div class="left">
                    <span style="color: #ff0000">*</span>
                    活动标题
                </div>
                <div class="right" flex>
                    <input type="text" placeholder="请输入活动名称" ng-model="rootBragainDataEdit.name">
                </div>
            </div>
            <md-divider></md-divider>
            <div class="content-tab" layout="row" layout-align="start center" ng-click="chooseStartTime()">
                <div class="left">
                    <span style="color: #ff0000">*</span>
                    生效时间
                </div>
                <div class="right" flex>
                    <div class="right-R" layout="row" layout-align="end center">
                        <div>
                            <span ng-if="!rootBragainDataEdit.beginTime">请选择生效时间</span>
                            <span ng-if="rootBragainDataEdit.beginTime">{{rootBragainDataEdit.beginTime | date:'yyyy'}}年{{rootBragainDataEdit.beginTime | date:'M' }}月{{rootBragainDataEdit.beginTime | date:'d'}}日</span>
                            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow-right-s"></md-icon>
                        </div>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div class="content-tab" layout="row" layout-align="start center" ng-click="chooseEndTime()">
                <div class="left">
                    <span style="color: #ff0000">*</span>
                    过期时间
                </div>
                <div class="right" flex>
                    <div class="right-R" layout="row" layout-align="end center">
                        <div>
                            <!--2017年11月12日-->
                            <span ng-if="!rootBragainDataEdit.endTime">请选择过期时间</span>
                            <span ng-if="rootBragainDataEdit.endTime">{{rootBragainDataEdit.endTime | date:'yyyy'}}年{{rootBragainDataEdit.endTime | date:'M' }}月{{rootBragainDataEdit.endTime | date:'d'}}日</span>
                            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow-right-s"></md-icon>
                        </div>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div class="content-tab" layout="row" layout-align="start center">
                <div class="left">
                    <span style="color: #ff0000">*</span>
                    规则说明
                </div>
                <div class="right" flex ng-click="goEdit('rule')">
                    <div class="right-R" layout="row" layout-align="end center">
                        <div>
                            <span ng-if="!rootBragainDataEdit.rule">填写规则描述</span>
                            <span ng-if="rootBragainDataEdit.rule">详情</span>

                            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow-right-s"></md-icon>
                        </div>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div class="content-tab" layout="row" layout-align="start center">
                <div class="left">
                    &nbsp;&nbsp;活动图文
                </div>
                <div class="right" flex ng-click="goEdit('desp')">
                    <div class="right-R" layout="row" layout-align="end center">
                        <div>
                            <span ng-if="!rootBragainDataEdit.desp">设置图文介绍</span>
                            <span ng-if="rootBragainDataEdit.desp">详情</span>
                            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow-right-s"></md-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content">
            <div class="content-tab" layout="row" layout-align="start center">
                <div class="left">
                    <span style="color: #ff0000">*</span>
                    商品名称
                </div>
                <div class="right" flex>
                    <input type="text" placeholder="请输入砍价商品名称" ng-model="rootBragainDataEdit.awardName">
                </div>
            </div>
            <md-divider></md-divider>
            <div class="content-tab" layout="row" layout-align="start center">
                <div class="left">
                    <span style="color: #ff0000">*</span>
                    商品数量
                </div>
                <div class="right" flex>
                    <input type="number" placeholder="请输入商品数量" ng-model="rootBragainDataEdit.awardNum">
                </div>
            </div>
            <md-divider></md-divider>
            <div class="content-tab" layout="row" layout-align="start center">
                <div class="left">
                    <span style="color: #ff0000">*</span>
                    起始价格
                </div>
                <div class="right" flex>
                    <input type="number" placeholder="请输入砍价开始的价格" ng-model="rootBragainDataEdit.awardPrice">
                </div>
            </div>
            <md-divider></md-divider>
            <div class="content-tab" layout="row" layout-align="start center">
                <div class="left">
                    <span style="color: #ff0000">*</span>
                    最低价格
                </div>
                <div class="right" flex>
                    <input type="number" placeholder="请输入完成砍价的目标价格" ng-model="rootBragainDataEdit.minTargetPrice">
                </div>
            </div>
            <md-divider></md-divider>
            <div class="content-tab" layout="row" layout-align="start center">
                <div class="left">
                    <span style="color: #ff0000">*</span>
                    商品图片
                </div>
                <div class="right" flex>
                    <input type="file" id="file">
                    <div class="right-R" layout="row" layout-align="end center">
                        <div ng-show="!rootBragainDataEdit.awardImg">
                            请上传图片
                            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow-right-s"></md-icon>
                        </div>

                        <div class="itemImg" ng-show="rootBragainDataEdit.awardImg">
                            <img ng-src="{{rootBragainDataEdit.awardImg}}">
                            <!--请上传图片-->
                            <!--<md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow-right-s"></md-icon>-->
                            <!---->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content-tab" layout="row" layout-align="start center">
                <div class="left">
                    <span style="color: #ff0000">*</span>
                    新人砍价范围
                </div>
                <div class="right" flex>
                    <div class="right-R" layout="row" layout-align="end center">
                        <div layout="row" layout-align="center center">
                            <div class="input-div"><input type="number" placeholder="起始" ng-model="rootBragainDataEdit.userTypeRandom.newUser.lowerPrice"></div>
                            ~
                            <div class="input-div"><input type="number" placeholder="截止" ng-model="rootBragainDataEdit.userTypeRandom.newUser.higherPrice"></div>
                            元
                        </div>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div class="content-tab" layout="row" layout-align="start center">
                <div class="left">
                    <span style="color: #ff0000">*</span>
                    老会员砍价范围
                </div>
                <div class="right" flex>
                    <div class="right-R" layout="row" layout-align="end center">
                        <div layout="row" layout-align="center center">
                            <div class="input-div"><input type="number" placeholder="起始" ng-model="rootBragainDataEdit.userTypeRandom.oldUser.lowerPrice"></div>
                            ~
                            <div class="input-div"><input type="number" placeholder="截止" ng-model="rootBragainDataEdit.userTypeRandom.oldUser.higherPrice"></div>
                            元
                        </div>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div class="content-tab" layout="row" layout-align="start center">
                <div class="left">
                    <span style="color: #ff0000">*</span>
                    购买方式
                </div>
                <div class="right" flex>
                    <div class="right-R" layout="row" layout-align="end center" ng-click="sureChoosePayType()">
                        <div>
                            <!--选择方式-->
                            <span ng-if="!rootBragainDataEdit.receiveType">选择方式</span>
                            <span ng-if="rootBragainDataEdit.receiveType == 'COMPLETEBUY'">到最低价购买</span>
                            <span ng-if="rootBragainDataEdit.receiveType == 'ONLINEBUY'">随时购买</span>
                            <span ng-if="rootBragainDataEdit.receiveType == 'LINEBUY'">联系商家</span>
                            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow-right-s"></md-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content-tab" layout="row" layout-align="start center">
                <div class="left">
                    <span style="color: #ff0000">*</span>
                    微信分享标题
                </div>
                <div class="right" flex>
                    <input type="text" placeholder="请输入分享标题" ng-model="rootBragainDataEdit.shareTitle">
                </div>
            </div>
            <md-divider></md-divider>
            <div class="content-tab" layout="row" layout-align="start center">
                <div class="left">
                    &nbsp;&nbsp;微信分享描述
                </div>
                <div class="right" flex>
                    <input type="text" placeholder="请输入分享描述" ng-model="rootBragainDataEdit.shareDesp">
                </div>
            </div>
        </div>
    </md-content>

    <!--<div class="footBottom" layout="column" ng-click="save()">-->
        <!--<md-divider style="border-color:#E53467"></md-divider>-->
        <!--<div class="btn" flex layout="row" layout-align="center center">保存</div>-->
    <!--</div>-->



    <div class="dialog-pay" layout="column" ng-show="choosePayType">
        <div class="top" flex ng-click="cancelChoosePayType(false)"></div>
        <div class="con">
            <div class="title" layout="row">
                <div class="left" ng-click="cancelChoosePayType(false)">取消</div>
                <div class="name" flex>选择支付方式</div>
                <div class="right" ng-click="cancelChoosePayType(true)">确定</div>
            </div>
            <md-divider></md-divider>
            <div class="tab" ng-click="dialogChoosePayType('COMPLETEBUY')" ng-class="{active : dialogPayType === 'COMPLETEBUY'}">到最低价购买</div>
            <md-divider></md-divider>
            <div class="tab" ng-click="dialogChoosePayType('ONLINEBUY')" ng-class="{active : dialogPayType === 'ONLINEBUY'}">随时购买</div>
            <md-divider></md-divider>
            <div class="tab" ng-click="dialogChoosePayType('LINEBUY')" ng-class="{active : dialogPayType === 'LINEBUY'}">联系商家</div>
        </div>
    </div>





    <div class="jqPhote" ng-show="choosePhote" layout="column" layout-align="center center">
        <div flex class="choosePhote-top"></div>
        <div id="clipArea"></div>
        <!--<input type="file" id="file">-->
        <div flex class="choosePhote-btn" layout="row" layout-align="center start">
            <div layout="row" layout-align="space-between start" style="width: 260px">
                <div id = 'cancel' ng-click="cancelChoosePhote()">取消</div>
                <div id="clipBtn" ng-click="cancelChoosePhote()">保存</div>
            </div>

        </div>

        <!--<div id="view"></div>-->
    </div>





</div>



