.ks-memberList {
  background: #fff;

  /**
  *顶部工具栏
  *分白色和黑色背景
  */
  .ks-black-header, .ks-white-header {
    height: 44px;
    font-size: 16px;
    min-height: 44px;
    .back-button {
      font-size: 14px;
      text-align: left;
      line-height: 44px;
      padding-left: 15px;
    }
    h1 {
      font-size: 20px;
      text-align: center;
      height: 44px;
      line-height: 44px;
      margin: 0;
      font-weight: normal;
    }
    .ks-icon {
      font-size: 16px;
      line-height: 20px;
      //width: 40px;
    }
    .right-button {
      font-size: 14px;
      text-align: right;
      line-height: 44px;
      padding-right: 20px;
      white-space: nowrap;
    }
  }

  /*
  *黑色背景
  **/
  .ks-black-header {
    background: #101010;
    color: #fff;
    .back-button, h1, .ks-icon, .right-button {
      color: #fff;
    }
  }

  .info-line {
    width: 100%;
    height: 10px;
    min-height: 10px;
    background: #F5F5F5;
  }

  /*
  *白色背景
  **/
  .ks-white-header {
    background: #fff;
    color: #101010;
    .back-button, h1, .ks-icon, .right-button {
      color: #101010;
    }
    .tab-wtap {
      overflow: hidden;
      width: 140px;
      height: 32px;
      border: 1px solid #53D39A;
      color: #53D39A;
      font-size: 16px;
      letter-spacing: -0.39px;
      border-radius: 8px;
      line-height: 32px;
      text-align: center;
    }
    .tabActive {
      background: #53D39A;
      color: #fff;
    }
  }

  ks-swiper-container {
    flex-shrink: 0;
    .swiper-container {
      width: 100%;
      //padding-left: 15px;
      .swiper-wrapper {
        .swiper-slide {
          overflow: hidden;
          width: 100%;
          position: relative;
          &:before {
            content: "";
            display: block;
            padding-top: 50%;
          }
          img {
            position: absolute;
            top: 0;
            padding: 0;
            width: 100%;
            //height: 100%;
          }
        }
      }
    }
  }

  .btn-box {
    height: 70px;
    .btn {
      img {
        width: 25px;
        height: 25px;
        color: #999;
        margin-bottom: 5px;
      }
      .btn-name {
        color: #222222;
        font-size: 14px;
      }
    }
  }

  .title-img {
    .img-wrap {
      width: 100%;
      position: relative;
      margin-bottom: 10px;
      overflow: hidden;
      &:before {
        content: "";
        display: block;
        padding-top: 33%;
      }
      img {
        position: absolute;
        top: 0;
        padding: 0;
        width: 100%;
        //height: 100%;
      }
      .title {
        position: absolute;
        top: 0;
        padding: 0;
      }
    }
  }
}