<div flex="100" layout="column" class="ks-memberList">
    <div class="ks-white-header" layout="row">
        <div class="back-button" flex="20" ng-click="fallbackPage()">
            <md-icon class="ks-icon" md-font-set="ks-icon" md-font-icon="ag-arrow_left"></md-icon>
        </div>
        <h1 flex>我的会员</h1>
        <div class="right-button" flex="20" ui-sref="main.hospital.userCenter">
            <md-icon class="btn-icon"  md-font-set="ks-icon" md-font-icon="ag-default-head"></md-icon>
        </div>
    </div>
    <md-divider></md-divider>
    <md-content flex style="overflow-x: hidden;background: #f5f5f5">

        <ks-swiper-container direction="horizontal"
                             initial-slide="0"
                             effect="between"
                             swiper="swiper"
                             initial-slide="1"
                             loop="false"
                             show-nav-buttons="false"
                             pagination-is-active="true"
                             pagination-clickable="false"
                             slides-per-view="1"
                             space-between="5"
                             on-ready="getHeadInfo('0',swiper)">
            <ks-swiper-slide class="swiper-slide" ng-repeat="s in firstArr ">
                <img ng-src="{{s.headImg}}"/>
            </ks-swiper-slide>
        </ks-swiper-container>

        <br style="clear: both">
        <div class="btn-box" layout="row" style="height: 80px">
            <div flex class="btn" layout="column" layout-align="center center">
                <img class="btn-icon" src="预约就诊.png" alt="">
                <div class="btn-name">门诊预约</div>
            </div>
            <div class="btn-line"></div>
            <div flex class="btn" layout="column" layout-align="center center">
                <img class="btn-icon" src="门诊挂号.png" alt="">
                <div class="btn-name">病房预约</div>
            </div>
            <div class="btn-line"></div>
            <div flex class="btn" layout="column" layout-align="center center">
                <img class="btn-icon" src="门诊排班.png" alt="">
                <div class="btn-name">科室排班</div>
            </div>
        </div>


        <div class="title-img" layout="column">
            <div class="img-wrap" ng-repeat="aa in nextArr">
                <img src="{{aa.headImg}}" alt="">
                <div class="title">
                    {{aa.title}}
                </div>
            </div>
        </div>


    </md-content>

</div>