<div class="regPhone" flex layout="column" layout-align="start center">
    <div class="regPhone-con">
        <div class="form" layout="column">
            <div class="con-ts">手机号</div>
            <div flex>
                <input type="tel" ng-model="user.phone" class="form-control-btn" placeholder="手机号">
            </div>

            <div class="line"></div>
            <div class="con-ts">密码</div>
            <div flex layout="row" layout-align="start center" class="phoneCode">
                <div flex class="left">
                    <input type="tel" placeholder="密码" ng-model="user.pwd" >
                </div>
                <div class="sLine"></div>
                <!--<div flex="35" class="getPwd" ng-click="getVCcode()">{{gitCodeTime}}</div>-->
            </div>
            <div class="line"></div>
            <div class="con-ts">密码</div>
            <div flex layout="row" layout-align="start center" class="phoneCode">
                <div flex class="left">
                    <input type="tel" placeholder="密码" ng-model="user.rePwd" >
                </div>
                <div class="sLine"></div>
                <!--<div flex="35" class="getPwd" ng-click="getVCcode()">{{gitCodeTime}}</div>-->
            </div>
            <div class="line"></div>
        </div>
        <div class="register-btn" ng-click="register()">
            注册
        </div>
    </div>

</div>